body, table, .reveal-modal, fieldset > legend, .tabs-content {
	background: #222;
	color: #ddd;
}
table {
	border-color: #111;
}
table tbody tr, table tbody tr, table tbody tr {
	background: #666666;
}
table thead, table tfoot, table tbody tr.even, table tbody tr.alt, table tbody tr:nth-of-type(even) {
	background: #323232;
}
table thead tr th, table tbody tr td, table tfoot tr td {
	color: #ddd;
}
h1, h2, h3, h4, h5, h6 {
	color: #ddd;
}

ul#navigation {
	background: #222;
	border-bottom: 1px solid #000;
}
.tabs dd > a, .tabs .tabs-title > a {
	background: #323232;
	color: #ddd;
}
.tabs dd.active a, .tabs .tabs-title.active a {
	background: #222;
	color: #ddd;
}
.tabs dd > a:hover, .tabs .tabs-title > a:hover {
	background: #434343;
	color: #ddd;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
	background: #222;
	border-color: #000;
	color: #ccc;
}

input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea, select[disabled] {
	background: #444;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus, select:focus, select:hover {
	background: #323232;
	border-color: #000;
	outline: none;
}

.switch label {
	background: #111;
}

#channel_game {
	border-top: 1px solid #000;
}

.userlist {
	background: #222;
}
fieldset {
	border-color: #000;
}
label {
	color: #ccc;
}
.callout {
	background: #444;
	color: #ccc;
	border-color: #000;
}
.callout.secondary {
	background: #001838;
	color: #ccc;
	border-color: #000;
}

footer {
	background-color: #222;
}