html, body {
	height: auto;
}
body {
	margin-bottom: 30px;
}

body::-webkit-scrollbar {
	width: 5px;
}
body::-webkit-scrollbar-track {
	background-color: rgba(0,0,0, 0.2);
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0, 0.5);
}

ul#navigation {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
	list-style: none;
}

#channel_viewers {
	float: right;
	color: #FF3B20;
	position: relative;
	bottom: 60px;
	right: 20px;
	font-size: 32px;
	margin-bottom: -60px;
	display: none;
}

#channel_game {
	clear: both;
	border-top: 1px solid #ddd;
	padding: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	display: none;
	min-height: 32px;
}
#channel_status {
	padding: 5px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: none;
	min-height: 25px;
}

footer {
	background-color: #fff;
	color: #aaa;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;

	box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.3);
}
footer .button {
	float: right;
	margin-left: 10px;
}

.content.channel {
	padding-right: 220px;
	margin-bottom: 30px;
}
.content.channel .postmessage {
	position: fixed;
	bottom: 30px;
	left: 0;
	padding-right: 258px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content.channel .emoticonbtn {
	position: fixed;
	bottom: 30px;
	right: 220px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 34px;
}
.content.channel .emoticons {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	position: fixed;
	bottom: 60px;
	right: 220px;
	width: 298px;
	height: 238px;
	padding: 5px;
	text-align: center;
	overflow: auto;
	display: none;
}
.content.channel .emoticons a {
	display: inline-block;
	width: 28px;
	min-width: 28px;
	height: 28px;
	padding: 5px;
	margin: 5px;
	background-position: center center;
	background-repeat: no-repeat;
}
.content.channel .emoticons a:hover {
	background-color: #cccccc;
}

.content.channel iframe {
	position: fixed;
	top: 0;
	left: 0;
	right: 220px;
	width: 620px;
	height: 378px;
}
.userlist {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 30px;
	background-color: #fff;
	z-index: 1;
	width: 220px;
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
	overflow: auto;
	padding: 10px;
}

#server .message {
	font-family: monospace;
}
.message .nick {
	font-weight: bold;
}
.message.server {
	color: #888;
}
.switch {
	margin-bottom: 0;
}
