html, body {
	font-family: Sans-serif;
	font-size: 12pt;

	margin: 0;
	padding: 0;
}

nav {
	display: block;
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	bottom: 0;
	font-size: 1.4em;
}

nav > ul {
	display: block;
	width: 52px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	z-index: 999;
	white-space: nowrap;

	transition: width .25s ease-out;
}
nav > ul.bottom {
	position: absolute;
	bottom: 0;
}

nav > ul > li > a {
	padding: 8px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}
nav > ul > li > a.menu {
	font-weight: bold;
	text-transform: uppercase;
}
nav > ul > li > a > span {
	vertical-align: middle;
	margin-right: 8px;
}
nav > ul > li > a > span:nth-child(1) {
	font-size: 1.6em;
}
nav > ul > li > a > span.icon.logo {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-size: 36px 36px;
}

section.content {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 52px;
	right: 0;
	bottom: 0;
	overflow: auto;
	max-height: 100%;
	max-width: 100%;
}

section.content > div {
	display: none;
	padding: 10px;
}

#start_greeting {
	font-weight: bold;
	margin-bottom: 10px;
}

div > input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid #6e132a;
	font-family: Sans-serif;
	font-size: 1.1em;
}

