@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oqvi3m');
  src:  url('fonts/icomoon.eot?oqvi3m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oqvi3m') format('truetype'),
    url('fonts/icomoon.woff?oqvi3m') format('woff'),
    url('fonts/icomoon.svg?oqvi3m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-equalizer:before {
  content: "\e01d";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-format_paint:before {
  content: "\e243";
}
.icon-home:before {
  content: "\e88a";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-tab_unselected:before {
  content: "\e8d9";
}
.icon-twitch:before {
  content: "\eefe";
}

